<!DOCTYPE html>
<html ng-app="musicApp">
<head>
<title>Music Viewer</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div ng-controller="MusicCtrl">

<h3>Enter your Last.fm username. This app will update automatically: <input type="text" ng-model="username" ng-change="updateUsername()"><span ng-if="user_name">&nbsp;&nbsp;&nbsp;Hello {{user_name}}</span></h3>

<div class="row">

<div class="col-xs-12 col-md-8">
<img src="{{image_src}}" width="800" height="800">
</div>

<div class="col-xs-6 col-md-4">

<h2>{{track_name}}</h2>
<h2>by {{track_artist}}</h2>
<h2>from {{track_album}}</h2>
<h3>status = {{status}}</h3>
<h3>local time = {{time}}</h3>
</div>

</div>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>

<script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- englishtibetan_largeleaderboard -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-3128393004748774"
     data-ad-slot="9587382946"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>

